@media (max-width: 992px) {
    :root {
        font-size: 1rem;
    }
    .container {
        flex: 0 0 90%;
    }
    .conversion {
        width: 90%;
    }
}

@media (max-width: 576px) {
    :root {
        font-size: 0.8rem;
    }
    .container {
        flex: 0 0 96%;
    }
    .conversion {
        display: block;
        width: 100%;
        button {
            margin-top: 0.5em;
            width: 100%;
        }
    }
    .row {
        display: block;
    }
}
